body{
    height: 150px;
    width: 100px;
    display: flex;
    
}

.Wnavbar{
    padding: 0;
    margin: 0;
    align-items: center;
    display:flex;
    background-color: aqua;
}

.Wnavbar .navbar h2{
    font-family: 'Times New Roman', Times, serif;
    font-display: flex;
    display:flex;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    justify-content: left;
}

.Wnavbar.navbar li{
    width: 100px;
    text-decoration: none;
}